---
// Style Imports
import "../styles/global.css";
import "@gdwc/components/dist/style.css";

// Component Imports
// For JSX components, all the common ways of exporting (under a namespace, specific export, default export etc) are supported!
import * as react from "../components/ReactCounter";
import { PreactCounter } from "../components/PreactCounter";
import SolidCounter from "../components/SolidCounter";

import VueCounter from "../components/VueCounter.vue";
import SvelteCounter from "../components/SvelteCounter.svelte";
import { LitCounter } from "../components/lit-counter";

import "@gdwc/components/container";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main>
      <h1>Astro and an IRRESPONSIBLE Amount of JavaScript Frameworks...</h1>

      <react.Counter client:visible>
        <h1>Hello from React!</h1>
      </react.Counter>

      <PreactCounter client:visible>
        <h1>Hello from Preact!</h1>
      </PreactCounter>

      <SolidCounter client:visible>
        <h1>Hello from Solid!</h1>
      </SolidCounter>

      <VueCounter client:visible>
        <h1>Hello from Vue!</h1>
      </VueCounter>

      <SvelteCounter client:visible>
        <h1>Hello from Svelte!</h1>
      </SvelteCounter>

      <LitCounter client:visible>
        <h1>Hello from (Server Rendered) Custom Elements!</h1>
      </LitCounter>

      <gdwc-container>
        <p>
          And for fun, this is component imported from the Generic Drupal Web
          Components Library.
        </p>
      </gdwc-container>
    </main>
  </body>
</html>
